<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.ktds.hskim.memo.vo.MemoVO" alias="MemoVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/com/ktds/hskim/memo/dao/impl/sql/memoDAO.xml"/>
	</mappers>

</configuration>




